*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

/vendor/
.env

# Code coverage files
coverage.txt
coverage.out
coverage.html
profile.out

# Codecov files
codecov
codecov.SHA256SUM
codecov.SHA256SUM.sig
